<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Spark Word Count Application</title>
</head>
<body>
    <h1>Word Input</h1>
    <form action="#" th:action="@{/wordcount}" th:object="${wordsList}" method="post">
        <p>Word: <textarea type="text" th:field="*{words}"></textarea></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>